@charset "UTF-8";
html{
  font-size: 100%;
  font-family: 'Russo One', sans-serif;
  background-color: #001D60;
}

 a{
   text-decoration: none;
   text-decoration-color: #FFCE00;
}

img{
  max-width: 100%;
}

 body{
   background-color: #001D60;
 }

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 0;
  margin-right: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
