@charset "UTF-8";
html{
  font-size: 100%;
  font-family: 'Russo One', sans-serif;
}

 a{
   text-decoration: none;
   text-decoration-color: #FFCE00;
}
 .logo{
   width: 210px;
   height: 160px;
 }

 .menulogo{
   width: 210px;
   height:50px;
 }
