@charset "UTF-8";
html{
  font-size: 100%;
  font-family: 'Russo One', sans-serif;
  background-color: #001C5C;
}

 a{
   text-decoration: none;
   text-decoration-color: #FFCE00;
}

img{
  max-width: 100%;
}
 .logo{
   width: 305px;
   height: 210px;
 }

 .menulogo{
   width: 210px;
   height:50px;
 }
