<style>

.item{
  background-color: #001C5C;
  border:#FFCE00;
  color: #FFCE00;
  margin:40px;
  padding:20px;
}

.container{
  display:flex;
  flex-direction: column;
}

 body{
   background-color:#001C5C;
   color: #FFCE00;
   font-family: 'Russo One', sans-serif;
 }

</style>
