@charset "UTF-8";
html{
  font-size: 100%;
  font-family: 'Russo One', sans-serif;
  background-color: #001D60;
}

 a{
   text-decoration: none;
   text-decoration-color: #FFCE00;
}

img{
  max-width: 100%;
}

 body{
   background-color: #001D60;
 }

.searchformat-brand{
  display: flex;
  justify-content: space-between;
  margin-top:100px;
  margin-left:200px;
  margin-right:200px;
  margin-bottom: 100px;
  list-style: none;
}

.searchformat-location{
  display: flex;
  justify-content: space-between;
  width: 60% auto;
}

#brand-input{
max-width:300px;
height:50px;
border-radius:2px;
outline:0;
margin-bottom:40px;
background:#eee;
}

.searchformat-brandlogo{
  width: 300px;
}

.search-format{
  max-width: 500px;
  display: grid;
  gap: 100px;
  margin: 50% auto;
}
