@charset "UTF-8";
html{
  font-size: 100%;
  font-family: 'Russo One', sans-serif;
  background-color: #001D60;
}

 a{
   text-decoration: none;
   text-decoration-color: #FFCE00;
}

img{
  max-width: 100%;
}

 body{
   background-color: #001D60;
 }

.searchformat-brand{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  list-style: none;
}

.searchformat-location{
  display: flex;
  justify-content: center;
  margin:0 auto;
  list-style: none;
}

#brand-input{
  height:50px;
  border-radius:2px;
  outline:0;
  margin-left:40px;
  margin-bottom: 0;
  background:#eee;
}

#location-input{
  height:50px;
  border-radius:2px;
  outline:0;
  margin-left:40px;
  background:#eee;
}


.wrapper{
  max-width: auto;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #001D60;
}

.searchformat-brandlogo{
  width: 300px;
}

.search-format{
  max-width: 500px;
  display: grid;
  gap: 10px;
  margin: 50% auto;
}
